<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>AngularJS-Phone-Filter</title>
    <script src="assets/js/angular.js"></script>
    <script src="assets/js/angular-resource.js"></script>
    <script src="assets/js/jquery-2.1.1.js"></script>
    <script src="assets/js/underscore.js"></script>
    <script src="app.js"></script>

    <link href="assets/css/fontawesome.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body data-ng-app="filterApp">
    <div data-ng-controller="phoneController">
        <ul class="inline">
            <li>
                <div class="alert alert-success">
                    <h3>Total Filtered Models: {{filtered.length}}</h3>
                </div>
            </li>
            <li>
                <div class="btn-group" data-ng-class="{open: open}">
                    <button class="btn">Filter by Company</button>
                    <button class="btn dropdown-toggle" data-ng-click="open=!open">
                        <span class="caret"></span>

                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <li data-ng-repeat="company in phoneList">
                            <a data-ng-click="setSelectedModel()">{{company.name}}<span data-ng-class="isChecked(company.id)"></span></a>

                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <hr />
        <h3>Available Phones:</h3>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th style="width:10%">#</th>
                    <th style="width:20%">Model</th>
                    <th style="width:40%">Operatating System</th>
                    <th style="width:30%">Manifacturer</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="phone in filtered = (phones | phoneFilter:selectedPhone)">
                    <td>{{$index + 1}}</td>
                    <td>
                        <em>{{phone.model}}</em>
                    </td>
                    <td>{{phone.os}}</td>
                    <td>{{phone.company.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>